
/*#navbar-links a {
  color: #ce3232;
}*/

/*-----------------------HEADER-NAVBAR-------------------------*/

header,.navbar {
  background-color: rgb(35, 32, 32);
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.nav-item.active {
  border-bottom: 3px solid #FFF;
}

.navbar-nav{
  display: flex;
 flex-direction: row;
 justify-content: space-around;
 max-width: 85%;
 font-family: 'Bebas Neue', sans-serif;
 font-size: 1.1rem;
 letter-spacing: 2px;
 margin-left: auto;
margin-right: auto;
}

#logo {
 max-width: 25%;
 max-height: 18%;
 margin-left: 20px;
}

.bn-logo {
  
}

.logo-container{
  
  max-width: 200px;
}



.dropdown-menu{
  background-color: #232020;
  
  
}
.dropdown-menu a {

  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-item{
  width:200px;
  background-color: #232020;
  color: #e3d7d7;
}

#area-login{
  background-color: #d73434;
  color: #dfe0ef;
}


/*--------------------------BODY--------------------------------------*/
body {
  background-color: #232020;
}


/*-----------------------------SIDEBAR-------------------------------*/
.sidebar {
  background-color: transparent;
  padding: 20px;
  margin-top: 50px;
  max-width: 250px; 
}
/*---------------------------CARDS---------------------------------------*/
.card {
  background-color: #EDF2F4;
  color: #2B2D42;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 78%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s, box-shadow 0.2s;
  border-color: #494242;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 95%;
  transition: all 0.2s ease;
}

.card-title {
  color: #1085b3;
  margin-left: auto;
  margin-right: auto;
}

.card-text {
  color: #2B2D42;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.7rem

}

.info-veiculos{
  
  font-weight: bold;
  width: 105%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 0px;
}

.dados-potencia-veiculo p {
  visibility: hidden;
  opacity: 0; 
  transition: visibility 2s, opacity 0.2s;
  margin-bottom: 6px;
}


.dados-potencia-veiculo:hover p {
  visibility: visible;
  opacity: 1;
  color:#232020;
}

h5 {
  color: rgb(236, 207, 207);
  font-family: 'Bebas Neue', sans-serif;;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-left: 20%;
}

/*---------------------------JUMBOTRON-----------------------------------*/
.jumbotron {
  
  background-size: 60%;
  background-position: center;
  margin-top: 5%;
  color: #bbbbc6;
  background-repeat: no-repeat;
  height: 350px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  background-color: #FFF;
}

/*----------------------------CONTAINER-----------------------------------*/
.container-lg-90 {
  width: 90%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-top: 30px;
}

.container-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  
}

/*---------------------------BUTTONS---------------------*/

.btn-primary {
  background-color: #d73434;
  margin-left: 25%;
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}

.btn-primary:hover{
  size: 110%;
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #d73434;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;

}

#button-send{
  margin-left: 120px;
  margin-top: 10px;
  background-color: #ce3232;
  border: none;
  border-radius: 15px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
  transition: transform 0.2s, box-shadow 0.2s;
}
#dropdownMenuButton{
  color: #e8d5d5;
  background-color: transparent;
  border: none;
  font-family: 'Bebas Neue', sans-serif;
 font-size: 1.3rem;
 letter-spacing: 3px;
}

.dropdown #dropdownMenuButton2{
  color: black;
  background-color: #ce3232;
  border: none;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.0rem;
 letter-spacing: 2px;
 margin-right: 20px;
}

#button-send:hover{
  size: 110%;
  transform: scale(1.2);
}

/*----------------------------FOOTER-----------------------*/

#area-contatos {
  text-align: center;
}

.caixa-contatos {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(213, 100, 62);
}

.caixa-contatos i {
  color: #d73434;
  border: solid 1px #ce3232;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.caixa-contatos p {
  font-size: 16px;
}

.contact-tile {
  font-weight: bold;
  color: #d57a3e;
}

#caixa-msg p {
  font-size: 22px;
  margin-left: 50px;
  
}
#defaultCheck1{
  margin-left: 20px;
  margin-top: 15px;
}
#defaultCheck2{
  margin-left: 50px;
  margin-top: 9px;
}

#final {
  background-color: #F1F1F1;
}

#final .container {
  padding: 10px 0;
  text-align: center;
}

#final .container p {
  margin-bottom: 0;
}

footer{
  color: black;
  font-weight: bold;
  background-color: #bbbbc6;
}

/*----------------------FORM------------------------------*/
.form-group label {
  color: #dfe0ef;
  color: rgb(236, 207, 207);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-bottom: 5px;
  margin-top: 10px;
}

.form-control{
  background-color: #ebddd4;
  border: #e5d6cc;
  border-radius: 15px; 
}

#forms-contato{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
#forms-contato form {
  border-radius: 55px; 
  width: 100%;
  margin-top: 20px;
  padding: 15px;
}

#formulario-contato{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}

#forms-contato input[type="checkbox"]{
  
  border-radius: 15px;
  padding: 10px;
}

#forms-contato input[type="text"], #forms-contato textarea {
  
  border-radius: 15px;
  padding: 10px;
}

#forms-contato .main-btn {
  width: 120px;
  height: 40px;
}

.nome-form{
  padding: 10px;
}
.email-form{
  padding: 10px;
}

.assunto-form{
  padding: 10px;
}
/*----------------------------LABELS-----------------------------------*/
/*
label[for="tipoServico"] {

  color: rgb(236, 207, 207);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-bottom: 5px;
  margin-top: 15px;
}
label[for="tipoVeiculo"] {
  color: rgb(236, 207, 207);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-bottom: 5px;
  margin-top: 10px;

}
label[for="anoMin"] {

  color: rgb(235, 222, 222);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-bottom: 5px;
  margin-top: 10px;
}
label[for="anoMax"] {

  color: rgb(236, 207, 207);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-bottom: 5px;
  margin-top: 10px;
}
label[for="precoMin"] {

  color: rgb(236, 207, 207);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-bottom: 5px;
  margin-top: 10px;
}
label[for="precoMax"] {

  color: rgb(236, 207, 207);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-bottom: 5px;
  margin-top: 10px;
}/*